In [2]:
!pip install pyvis
!pip install networkx

Requirement already satisfied: pyvis in c:\users\leish\anaconda3\lib\site-packages (0.3.2)
Requirement already satisfied: jinja2>=2.9.6 in c:\users\leish\anaconda3\lib\site-packages (from pyvis) (2.11.3)
Requirement already satisfied: networkx>=1.11 in c:\users\leish\anaconda3\lib\site-packages (from pyvis) (2.6.3)
Requirement already satisfied: jsonpickle>=1.4.1 in c:\users\leish\anaconda3\lib\site-packages (from pyvis) (3.0.1)
Requirement already satisfied: ipython>=5.3.0 in c:\users\leish\anaconda3\lib\site-packages (from pyvis) (7.29.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (58.0.4)
Requirement already satisfied: decorator in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (5.1.0)
Requirement already satisfied: pygments in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (2.10.0)
Requirement already satisfied: backcall in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (5.1.0)
Requirement already satisfied: pickleshare in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.18.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (3.0.20)
Requirement already satisfied: matplotlib-inline in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.1.2)
Requirement already satisfied: colorama in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\leish\anaconda3\lib\site-packages (from jinja2>=2.9.6->pyvis) (1.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\leish\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->pyvis) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\leish\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->pyvis) (0.2.5)
Requirement already satisfied: networkx in c:\users\leish\anaconda3\lib\site-packages (2.6.3)

In [3]:
import pandas as pd 
import numpy as np
import seaborn as sns

from pyvis.network import Network 
import networkx as nx

In [4]:
df = pd.read_csv("origin_destination_train_202302.csv")
df1 = df.loc[df.DAY_TYPE == "WEEKDAY"]
df2 = df.loc[df.DAY_TYPE == "WEEKENDS/HOLIDAY"]

df1 = df

In [5]:
df3 = pd.read_csv("weekday_passenger_vol.csv").rename(columns={"PT_CODE":"ORIGIN_PT_CODE"})
df4 = pd.read_csv("weekends_passenger_vol.csv").rename(columns={"PT_CODE":"ORIGIN_PT_CODE"})

In [6]:
df3 = df3.append(df4)

In [7]:
#df1 = df1.merge(df3[["ORIGIN_PT_CODE","TIME_PER_HOUR", "DAY_TYPE",'TOTAL_TAP_IN_VOLUME']], on=["ORIGIN_PT_CODE","TIME_PER_HOUR", "DAY_TYPE"])

In [8]:
df1 = df1.drop(df1.loc[(df1.ORIGIN_PT_CODE.str.startswith("B")) | (df1.ORIGIN_PT_CODE.str.startswith("P"))| (df1.ORIGIN_PT_CODE.str.startswith("S"))].index)

In [9]:
df3 = df3.drop(df3.loc[(df3.ORIGIN_PT_CODE.str.startswith("B")) | (df3.ORIGIN_PT_CODE.str.startswith("P"))| (df3.ORIGIN_PT_CODE.str.startswith("S"))].index)

In [10]:
df3.to_csv("passenger_vol.csv")

In [11]:
df3

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,ORIGIN_PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2023-02,WEEKDAY,0,TRAIN,DT10/TE11,34,162
1,2023-02,WEEKDAY,0,TRAIN,NS27/CE2/TE20,20,85
2,2023-02,WEEKDAY,0,TRAIN,EW19,31,309
3,2023-02,WEEKDAY,0,TRAIN,NS8,375,1697
4,2023-02,WEEKDAY,0,TRAIN,NE16/STC,280,2135
...,...,...,...,...,...,...,...
3400,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,NS27/CE2/TE20,185,115
3406,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,NE7/DT12,1967,1430
3408,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,DT29,202,1300
3409,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,TE4,195,287
3410,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,TE5,110,469

In [12]:
df1 = df1.sort_values(by=['TIME_PER_HOUR','DESTINATION_PT_CODE'])

In [13]:
total_trips = df1.groupby(["ORIGIN_PT_CODE", "TIME_PER_HOUR", "DAY_TYPE"]).sum().reset_index().rename({"TOTAL_TRIPS":"TOTAL_TRIPS_AGG"},axis=1)

In [14]:
df1 = pd.merge(df1, total_trips, on=["ORIGIN_PT_CODE","TIME_PER_HOUR", "DAY_TYPE"])

In [15]:
df1['PROB_TRIP'] = df1.apply(lambda x: round(x['TOTAL_TRIPS']/x['TOTAL_TRIPS_AGG'],3),axis=1)

In [16]:
df1['CUMSUM'] = df1.groupby(['ORIGIN_PT_CODE','TIME_PER_HOUR','DAY_TYPE'])['PROB_TRIP'].cumsum()

In [17]:
171 * 171

29241

In [18]:
df1

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,ORIGIN_PT_CODE,DESTINATION_PT_CODE,TOTAL_TRIPS,TOTAL_TRIPS_AGG,PROB_TRIP,CUMSUM
0,2023-02,WEEKDAY,0,TRAIN,TE8,BP6/DT1,1,45,0.022,0.022
1,2023-02,WEEKDAY,0,TRAIN,TE8,CC12,1,45,0.022,0.044
2,2023-02,WEEKDAY,0,TRAIN,TE8,CC16,1,45,0.022,0.066
3,2023-02,WEEKDAY,0,TRAIN,TE8,EW24/NS1,1,45,0.022,0.088
4,2023-02,WEEKDAY,0,TRAIN,TE8,NS10,1,45,0.022,0.110
...,...,...,...,...,...,...,...,...,...,...
623351,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,EW31,EW32,1,19,0.053,0.686
623352,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,EW31,EW33,2,19,0.105,0.791
623353,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,EW31,NE4/DT19,1,19,0.053,0.844
623354,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,EW31,NS13,1,19,0.053,0.897
623355,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,EW31,NS4/BP1,2,19,0.105,1.002

In [19]:
df1.to_csv("master_prob_trip.csv")

In [20]:
df1 = df1.drop(['YEAR_MONTH','PT_TYPE','PROB_TRIP','TOTAL_TRIPS_AGG','TOTAL_TRIPS'], axis=1)

In [21]:
df1.to_csv("prob_trip.csv")

In [22]:
df1.shape

(623356, 5)

In [23]:
df1 = df1.drop(df1.loc[(df1.ORIGIN_PT_CODE.str.startswith("B")) | (df1.ORIGIN_PT_CODE.str.startswith("P"))| (df1.ORIGIN_PT_CODE.str.startswith("S"))].index)
df1 = df1.drop(df1.loc[(df1.DESTINATION_PT_CODE.str.startswith("B")) | (df1.DESTINATION_PT_CODE.str.startswith("P"))| (df1.DESTINATION_PT_CODE.str.startswith("S"))].index)

In [24]:
cost_df = df1.groupby(['ORIGIN_PT_CODE','DESTINATION_PT_CODE']).mean().reset_index()
cost_df = cost_df.pivot(index="ORIGIN_PT_CODE", columns="DESTINATION_PT_CODE", values="CUMSUM")

In [25]:
cost_df.columns[cost_df.columns.str.contains("EW16")]

Index(['EW16/NE3/TE17'], dtype='object', name='DESTINATION_PT_CODE')

In [26]:
length = len(df1['ORIGIN_PT_CODE'].unique())
stations = df1['ORIGIN_PT_CODE'].unique()

In [27]:
import math
cost = [[math.inf] * length for k in range(length)]

In [28]:
cost_df.index[0], cost_df.columns[1]

('CC10/DT26', 'CC11')

In [29]:
a = [1,2,3]
b = [4,5,6]

for x,y in zip(a,b):
    print(x,y)

1 4
2 5
3 6

In [30]:
def isNextId(row1, row2):
    row1s = row1.split("/")
    row2s = row2.split("/")
    for x in row1s:
        for y in row2s:
            if x[:2] == y[:2]:
                number = int(x[2:]) + 1
                steps = 1
                while steps < 3:
                    if int(y[2:]) == number:
                        return True 
                    
                    elif len(cost_df.columns[cost_df.columns.str.contains(x[:2] + f"{number:1}")]) >= 1:
                        return False
                    number += 1
                    steps += 1
        
    return False

In [31]:
def isPrevId(row1, row2):
    row1s = row1.split("/")
    row2s = row2.split("/")

    for x in row1s:
        for y in row2s:
            if x[:2] == y[:2]:
                number = int(x[2:]) - 1 
                steps = -1
                while number > 0 and steps < 3:
                    if int(y[2:]) == number:
                        return True 
                    elif len(cost_df.columns[cost_df.columns.str.contains(x[:2] + f"{number:1}")]) >= 1:
                        return False
                    number -= 1
                    steps -= 1
        
    return False

In [32]:
pi = [[0] * length for i in range(length)]

In [33]:
for i in range(length):
    for j in range(length):
        if i == j:
            cost[i][j] = 0
        elif isNextId(cost_df.index[i],cost_df.columns[j]):
            cost[i][j] = 1
            pi[i][j] = i
        elif isPrevId(cost_df.index[i], cost_df.columns[j]):
            cost[i][j] = 1
            pi[i][j] = i

In [34]:
df_cost = pd.DataFrame(cost, index=cost_df.index, columns=cost_df.columns)
df_cost

DESTINATION_PT_CODE,CC10/DT26,CC11,CC12,CC14,CC16,CC17/TE9,CC19/DT9,CC2,CC20,CC21,...,TE16,TE18,TE19,TE22,TE3,TE4,TE5,TE6,TE7,TE8
ORIGIN_PT_CODE,,,,,,,,,,,,,,,,,,,,,
CC10/DT26,0.0,1.0,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
CC11,1.0,0.0,1.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
CC12,inf,1.0,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
CC14,inf,inf,inf,0.0,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
CC16,inf,inf,inf,inf,0.0,1.0,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TE4,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,1.0,0.0,1.0,inf,inf,inf
TE5,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,1.0,0.0,1.0,inf,inf
TE6,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,1.0,0.0,1.0,inf
TE7,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,1.0,0.0,1.0
TE8,inf,inf,inf,inf,inf,1.0,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,1.0,0.0

In [35]:
pd.DataFrame(pi, index=cost_df.index, columns=cost_df.columns)

DESTINATION_PT_CODE,CC10/DT26,CC11,CC12,CC14,CC16,CC17/TE9,CC19/DT9,CC2,CC20,CC21,...,TE16,TE18,TE19,TE22,TE3,TE4,TE5,TE6,TE7,TE8
ORIGIN_PT_CODE,,,,,,,,,,,,,,,,,,,,,
CC10/DT26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CC11,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CC12,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CC14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CC16,0,0,0,0,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TE4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,128,0,128,0,0,0
TE5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,129,0,129,0,0
TE6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,130,0,130,0
TE7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,131,0,131
TE8,0,0,0,0,0,132,0,0,0,0,...,0,0,0,0,0,0,0,0,132,0

In [36]:
for k in range(length):
    for i in range(length):
        for j in range(length): 
            if cost[i][k] + cost[k][j] < cost[i][j]:
                cost[i][j] = cost[i][k] + cost[k][j]
                pi[i][j] = pi[k][j]

In [37]:
df_cost = pd.DataFrame(cost, index=cost_df.index, columns=cost_df.columns)
df_cost

DESTINATION_PT_CODE,CC10/DT26,CC11,CC12,CC14,CC16,CC17/TE9,CC19/DT9,CC2,CC20,CC21,...,TE16,TE18,TE19,TE22,TE3,TE4,TE5,TE6,TE7,TE8
ORIGIN_PT_CODE,,,,,,,,,,,,,,,,,,,,,
CC10/DT26,0,1,2,4,6,7,8,8,9,10,...,9,9,9,9,13,12,11,10,9,8
CC11,1,0,1,3,5,6,7,9,8,9,...,10,10,10,10,12,11,10,9,8,7
CC12,2,1,0,2,4,5,6,8,7,8,...,10,11,11,11,11,10,9,8,7,6
CC14,4,3,2,0,2,3,4,8,5,6,...,8,10,11,11,9,8,7,6,5,4
CC16,6,5,4,2,0,1,2,6,3,4,...,6,8,9,9,7,6,5,4,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TE4,12,11,10,8,6,5,6,10,7,8,...,10,12,13,13,1,0,1,2,3,4
TE5,11,10,9,7,5,4,5,9,6,7,...,9,11,12,12,2,1,0,1,2,3
TE6,10,9,8,6,4,3,4,8,5,6,...,8,10,11,11,3,2,1,0,1,2
TE7,9,8,7,5,3,2,3,7,4,5,...,7,9,10,10,4,3,2,1,0,1
TE8,8,7,6,4,2,1,2,6,3,4,...,6,8,9,9,5,4,3,2,1,0

In [56]:
pi_df = pd.DataFrame(pi, index=cost_df.index, columns=cost_df.columns)
pi_df.to_csv("journey_times.csv")

In [39]:
cost_df.index[78]

'EW8/CC9'

In [ ]:
df.in

In [52]:
def get_shortest_path(one,two):
    if one != two:
        get_shortest_path(one, pi[one][two])
    print(cost_df.index[two])

In [55]:
get_shortest_path(21, 100)

CC8
EW8/CC9
CC10/DT26
CC11
CC12
NE12/CC13
CC14
NS17/CC15
NS16

In [59]:
cost_df.index[21], cost_df.index[100]

('CC8', 'NS16')

In [43]:
pd.DataFrame(pi, index=cost_df.index, columns=cost_df.columns)

DESTINATION_PT_CODE,CC10/DT26,CC11,CC12,CC14,CC16,CC17/TE9,CC19/DT9,CC2,CC20,CC21,...,TE16,TE18,TE19,TE22,TE3,TE4,TE5,TE6,TE7,TE8
ORIGIN_PT_CODE,,,,,,,,,,,,,,,,,,,,,
CC10/DT26,0,0,1,83,101,4,5,16,6,8,...,54,54,110,110,128,129,130,131,132,5
CC11,1,0,1,83,101,4,5,16,6,8,...,54,54,110,110,128,129,130,131,132,5
CC12,1,2,0,83,101,4,5,108,6,8,...,122,54,110,110,128,129,130,131,132,5
CC14,1,2,83,0,101,4,5,108,6,8,...,122,54,110,110,128,129,130,131,132,5
CC16,1,2,83,101,0,4,5,108,6,8,...,122,54,110,110,128,129,130,131,132,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TE4,1,2,83,101,5,132,5,108,6,8,...,122,54,110,110,128,0,128,129,130,131
TE5,1,2,83,101,5,132,5,108,6,8,...,122,54,110,110,128,129,0,129,130,131
TE6,1,2,83,101,5,132,5,108,6,8,...,122,54,110,110,128,129,130,0,130,131
TE7,1,2,83,101,5,132,5,108,6,8,...,122,54,110,110,128,129,130,131,0,131
TE8,1,2,83,101,5,132,5,108,6,8,...,122,54,110,110,128,129,130,131,132,0

In [44]:
pd.DataFrame(cost, index=cost_df.index, columns=cost_df.columns)

DESTINATION_PT_CODE,CC10/DT26,CC11,CC12,CC14,CC16,CC17/TE9,CC19/DT9,CC2,CC20,CC21,...,TE16,TE18,TE19,TE22,TE3,TE4,TE5,TE6,TE7,TE8
ORIGIN_PT_CODE,,,,,,,,,,,,,,,,,,,,,
CC10/DT26,0,1,2,4,6,7,8,8,9,10,...,9,9,9,9,13,12,11,10,9,8
CC11,1,0,1,3,5,6,7,9,8,9,...,10,10,10,10,12,11,10,9,8,7
CC12,2,1,0,2,4,5,6,8,7,8,...,10,11,11,11,11,10,9,8,7,6
CC14,4,3,2,0,2,3,4,8,5,6,...,8,10,11,11,9,8,7,6,5,4
CC16,6,5,4,2,0,1,2,6,3,4,...,6,8,9,9,7,6,5,4,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TE4,12,11,10,8,6,5,6,10,7,8,...,10,12,13,13,1,0,1,2,3,4
TE5,11,10,9,7,5,4,5,9,6,7,...,9,11,12,12,2,1,0,1,2,3
TE6,10,9,8,6,4,3,4,8,5,6,...,8,10,11,11,3,2,1,0,1,2
TE7,9,8,7,5,3,2,3,7,4,5,...,7,9,10,10,4,3,2,1,0,1
TE8,8,7,6,4,2,1,2,6,3,4,...,6,8,9,9,5,4,3,2,1,0

In [45]:
df1.groupby(["ORIGIN_PT_CODE", "TIME_PER_HOUR", "DAY_TYPE"]).max().reset_index().sort_values(by="CUMSUM")

,ORIGIN_PT_CODE,TIME_PER_HOUR,DAY_TYPE,DESTINATION_PT_CODE,CUMSUM
3510,NE17/PTC,0,WEEKDAY,NE10,0.005
3470,NE16/STC,0,WEEKDAY,NE17/PTC,0.059
3471,NE16/STC,0,WEEKENDS/HOLIDAY,NE17/PTC,0.109
3431,NE15,0,WEEKENDS/HOLIDAY,NE17/PTC,0.352
3430,NE15,0,WEEKDAY,NE17/PTC,0.409
...,...,...,...,...,...
617,CC28,13,WEEKDAY,TE8,1.028
1763,DT5,7,WEEKENDS/HOLIDAY,TE8,1.029
3291,NE11,14,WEEKENDS/HOLIDAY,TE8,1.030
623,CC28,16,WEEKDAY,TE7,1.031
1536,DT29,13,WEEKENDS/HOLIDAY,TE8,1.032

In [46]:
df1.groupby(["ORIGIN_PT_CODE", "TIME_PER_HOUR"]).sum().reset_index()['TOTAL_TRIPS']

KeyError: 'TOTAL_TRIPS'

In [ ]:
df1