In [87]:
import pandas as pd 
import numpy as np
import math
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [88]:
df = pd.read_csv("stations.csv")

In [89]:
def fix_string(line):
    if len(line) == 3:
        if line[2] == "C":
            return line[:2] + "00"
        return line[:2] + "0" + line[2:]
    else:
        return line

In [90]:
df['STN_NO'] = df['STN_NO'].apply(lambda x: fix_string(x))
df['LINE'] = df['STN_NO'].str[:2]
df['NUMBER'] = df['STN_NO'].str[2:]

In [91]:
ss = StandardScaler()
df['X'] = np.floor(ss.fit_transform(df[['X']]) * 20)
df['Y'] = np.floor(ss.transform(df[['Y']]) * 25) - 15

C:\Users\leish\anaconda3\envs\tf3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Y
Feature names seen at fit time, yet now missing:
- X

  warnings.warn(message, FutureWarning)

In [92]:
df = df.fillna(-0.5)

In [98]:
df[df['WEEKDAY_SAT_INC_START_TIME'] == "FALSE"]

,OBJECTID,STN_NAME,STN_NO,X,Y,Latitude,Longitude,COLOR,IS_TERMINUS,WEEKDAY_SAT_INC_START_TIME,SUN_INC_START_TIME,INC_END_TIME,WEEKDAY_SAT_DEC_START_TIME,SUN_DEC_START_TIME,DEC_END_TIME,LINE,NUMBER
139,89,RANGGUNG LRT STATION,SE05,16.0,22.0,1.384234,103.897176,OTHERS,FALSE,FALSE,0,0,0,-0.5,-0.5,SE,05
190,175,WOODLANDS SOUTH MRT STATION,TE03,-12.0,36.0,1.427260,103.793863,BROWN,FALSE,FALSE,0,0,0,-0.5,-0.5,TE,03

In [94]:
df['SUN_INC_START_TIME'] = df['SUN_INC_START_TIME'].astype('int') * 2
df['INC_END_TIME'] = df['INC_END_TIME'].astype('int') * 2
df['WEEKDAY_SAT_DEC_START_TIME'] = df['WEEKDAY_SAT_DEC_START_TIME'].astype('int') * 2
df['WEEKDAY_SAT_INC_START_TIME'] = df['WEEKDAY_SAT_INC_START_TIME'].astype('int') * 2
df['SUN_DEC_START_TIME'] = df['SUN_DEC_START_TIME'].astype('int') * 2
df['DEC_END_TIME'] = df['DEC_END_TIME'].astype('int') * 2

ValueError: invalid literal for int() with base 10: 'FALSE'

In [ ]:
connections = df.groupby("STN_NAME").min()
df['CONNECTION_ID'] = df['STN_NAME'].apply(lambda x: connections.loc[x]["OBJECTID"])

C:\Users\leish\AppData\Local\Temp\ipykernel_1592\505108995.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  connections = df.groupby("STN_NAME").min()

In [ ]:
df = df.astype({'X':int, 'Y': int})

In [ ]:
def nextId(row):
    a = df.loc[(df.LINE == row.LINE) & (df.NUMBER > row.NUMBER)]['NUMBER'].min()
    return a

In [ ]:
def prevId(row):
    a = df.loc[(df.LINE == row.LINE) & (df.NUMBER < row.NUMBER)]['NUMBER'].max()
    return a

In [ ]:
df = df.drop(df.loc[(df.STN_NO == "CC18")].index)

In [ ]:
df['NEXT_STATION_NUMBER'] = df.apply(lambda x: nextId(x) , axis=1)
df['PREV_STATION_NUMBER'] = df.apply(lambda x: prevId(x) , axis=1)

HERE

In [ ]:
df.loc[df.LINE == "CC"]

,OBJECTID,STN_NAME,STN_NO,X,Y,Latitude,Longitude,COLOR,IS_TERMINUS,WEEKDAY_SAT_INC_START_TIME,SUN_INC_START_TIME,INC_END_TIME,WEEKDAY_SAT_DEC_START_TIME,SUN_DEC_START_TIME,DEC_END_TIME,LINE,NUMBER,CONNECTION_ID,NEXT_STATION_NUMBER,PREV_STATION_NUMBER
5,153,BARTLEY MRT STATION,CC12,11,8,1.342828,103.879746,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,12,153,13,11
14,109,BISHAN MRT STATION,CC15,3,11,1.351309,103.849150,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,15,109,16,14
18,185,BOTANIC GARDENS MRT STATION,CC19,-6,1,1.322110,103.814988,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,19,159,20,17
21,93,BRAS BASAH MRT STATION,CC02,3,-7,1.296862,103.850663,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,02,93,03,01
30,124,BUONA VISTA MRT STATION,CC22,-13,-4,1.306492,103.790665,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,22,28,23,21
32,127,CALDECOTT MRT STATION,CC17,0,6,1.337675,103.839528,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,17,127,19,16
50,154,DAKOTA MRT STATION,CC08,14,-3,1.308383,103.888648,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,08,154,09,07
52,165,DHOBY GHAUT MRT STATION,CC01,2,-7,1.298843,103.846236,YELLOW,TRUE,337,365.0,1428.0,0.0,0.0,0.0,CC,01,144,02,NaN
57,125,ESPLANADE MRT STATION,CC03,5,-8,1.293322,103.855498,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,03,125,04,02
64,121,FARRER ROAD MRT STATION,CC20,-8,0,1.317511,103.807593,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,20,121,21,19
69,101,HARBOURFRONT MRT STATION,CC29,-4,-18,1.265473,103.821446,YELLOW,TRUE,0,0.0,0.0,330.0,351.0,1383.0,CC,29,101,NaN,28
71,161,HAW PAR VILLA MRT STATION,CC25,-15,-12,1.282542,103.781823,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,25,161,26,24
73,187,HOLLAND VILLAGE MRT STATION,CC21,-11,-2,1.311835,103.796202,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,21,187,22,20
86,104,KENT RIDGE MRT STATION,CC24,-14,-8,1.293463,103.784644,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,24,104,25,23
92,130,LABRADOR PARK MRT STATION,CC27,-9,-15,1.272333,103.802947,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,27,130,28,26
98,162,LORONG CHUAN MRT STATION,CC14,7,11,1.351612,103.864143,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,14,162,15,13
99,94,MACPHERSON MRT STATION,CC10,14,3,1.326345,103.890272,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,10,94,11,09
105,160,MARYMOUNT MRT STATION,CC16,0,10,1.348707,103.839421,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,16,160,17,15
108,118,MOUNTBATTEN MRT STATION,CC07,12,-4,1.306202,103.882515,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,07,118,08,06
112,126,NICOLL HIGHWAY MRT STATION,CC05,7,-6,1.299767,103.863629,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,05,126,06,04
115,108,ONE-NORTH MRT STATION,CC23,-14,-6,1.299760,103.787469,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,23,108,24,22
119,155,PASIR PANJANG MRT STATION,CC26,-13,-14,1.276214,103.791361,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,26,155,27,25
121,152,PAYA LEBAR MRT STATION,CC09,15,0,1.317430,103.892163,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,09,9,10,08
128,184,PROMENADE MRT STATION,CC04,6,-8,1.293218,103.860992,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,04,102,05,03
155,145,SERANGOON MRT STATION,CC13,9,11,1.350595,103.872357,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,13,145,14,12
162,110,STADIUM MRT STATION,CC06,10,-5,1.302841,103.875339,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,06,110,07,05
165,166,TAI SENG MRT STATION,CC11,14,6,1.335433,103.888180,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,11,166,12,10
176,189,TELOK BLANGAH MRT STATION,CC28,-8,-16,1.270753,103.809754,YELLOW,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,CC,28,189,29,27

In [ ]:
df = df.fillna(-1)

In [ ]:
df3 = pd.read_csv("transport_node_train_202302.csv")

df3['MAX_CAPACITY'] = df3['TOTAL_TAP_IN_VOLUME'] + df3["TOTAL_TAP_OUT_VOLUME"]
df3['MIN_CAPACITY'] = df3['TOTAL_TAP_IN_VOLUME'] + df3["TOTAL_TAP_OUT_VOLUME"]
max_capacity = df3.groupby(["PT_CODE"])[['MAX_CAPACITY']].max() / 28
min_capacity = df3.groupby(["PT_CODE"])[['MIN_CAPACITY']].min() / 28 
df3 = max_capacity.join(min_capacity)
df3 = df3.reset_index()
df3['PT_CODE'] = df3['PT_CODE'].apply(lambda x: x.split("/"))
df3 = df3.explode('PT_CODE')

In [ ]:
df3['PT_CODE'] = df3['PT_CODE'].apply(lambda x: fix_string(x))
df3 = df3.rename({'PT_CODE':'STN_NO'}, axis=1)

In [ ]:
df = df.merge(df3, on="STN_NO")

In [ ]:
df.to_csv("formatted_stations.csv")

In [ ]:
df.loc[df.STN_NO == "NS05"]['NEXT_STATION_NUMBER']

181    07
Name: NEXT_STATION_NUMBER, dtype: object

In [ ]:
df.columns

Index(['OBJECTID', 'STN_NAME', 'STN_NO', 'X', 'Y', 'Latitude', 'Longitude',
       'COLOR', 'IS_TERMINUS', 'WEEKDAY_SAT_INC_START_TIME',
       'SUN_INC_START_TIME', 'INC_END_TIME', 'WEEKDAY_SAT_DEC_START_TIME',
       'SUN_DEC_START_TIME', 'DEC_END_TIME', 'LINE', 'NUMBER', 'CONNECTION_ID',
       'NEXT_STATION_NUMBER', 'PREV_STATION_NUMBER', 'MAX_CAPACITY',
       'MIN_CAPACITY'],
      dtype='object')

In [ ]:
df.loc[df.STN_NO == "EW01"]

,OBJECTID,STN_NAME,STN_NO,X,Y,Latitude,Longitude,COLOR,IS_TERMINUS,WEEKDAY_SAT_INC_START_TIME,...,WEEKDAY_SAT_DEC_START_TIME,SUN_DEC_START_TIME,DEC_END_TIME,LINE,NUMBER,CONNECTION_ID,NEXT_STATION_NUMBER,PREV_STATION_NUMBER,MAX_CAPACITY,MIN_CAPACITY
119,14,PASIR RIS MRT STATION,EW01,30,18,1.372984,103.949235,GREEN,TRUE,328,...,0.0,0.0,0.0,EW,01,14,02,-1,2829.357143,37.714286