In [1]:
!pip install pyvis
!pip install networkx

Requirement already satisfied: pyvis in c:\users\leish\anaconda3\lib\site-packages (0.3.2)
Requirement already satisfied: networkx>=1.11 in c:\users\leish\anaconda3\lib\site-packages (from pyvis) (2.6.3)
Requirement already satisfied: jinja2>=2.9.6 in c:\users\leish\anaconda3\lib\site-packages (from pyvis) (2.11.3)
Requirement already satisfied: jsonpickle>=1.4.1 in c:\users\leish\anaconda3\lib\site-packages (from pyvis) (3.0.1)
Requirement already satisfied: ipython>=5.3.0 in c:\users\leish\anaconda3\lib\site-packages (from pyvis) (7.29.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (58.0.4)
Requirement already satisfied: pickleshare in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (3.0.20)
Requirement already satisfied: pygments in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (2.10.0)
Requirement already satisfied: backcall in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.1.2)
Requirement already satisfied: colorama in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (0.18.0)
Requirement already satisfied: decorator in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (5.1.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\leish\anaconda3\lib\site-packages (from ipython>=5.3.0->pyvis) (5.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\leish\anaconda3\lib\site-packages (from jinja2>=2.9.6->pyvis) (1.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\leish\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->pyvis) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\leish\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->pyvis) (0.2.5)
Requirement already satisfied: networkx in c:\users\leish\anaconda3\lib\site-packages (2.6.3)

In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns

from pyvis.network import Network 
import networkx as nx

In [3]:
df = pd.read_csv("origin_destination_train_202302.csv")
df1 = df.loc[df.DAY_TYPE == "WEEKDAY"]
df2 = df.loc[df.DAY_TYPE == "WEEKENDS/HOLIDAY"]

df1 = df

In [4]:
df3 = pd.read_csv("weekday_passenger_vol.csv").rename(columns={"PT_CODE":"ORIGIN_PT_CODE"})
df4 = pd.read_csv("weekends_passenger_vol.csv").rename(columns={"PT_CODE":"ORIGIN_PT_CODE"})

In [5]:
df3 = df3.append(df4)

In [6]:
#df1 = df1.merge(df3[["ORIGIN_PT_CODE","TIME_PER_HOUR", "DAY_TYPE",'TOTAL_TAP_IN_VOLUME']], on=["ORIGIN_PT_CODE","TIME_PER_HOUR", "DAY_TYPE"])

In [7]:
df1.loc[df1.ORIGIN_PT_CODE.str.contains("B*/", regex=True)]

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,ORIGIN_PT_CODE,DESTINATION_PT_CODE,TOTAL_TRIPS
20,2023-02,WEEKENDS/HOLIDAY,7,TRAIN,NE7/DT12,DT7,56
21,2023-02,WEEKDAY,7,TRAIN,NE7/DT12,DT7,309
35,2023-02,WEEKDAY,9,TRAIN,EW21/CC22,NE9,29
38,2023-02,WEEKENDS/HOLIDAY,9,TRAIN,EW21/CC22,NE9,4
40,2023-02,WEEKDAY,7,TRAIN,CC17/TE9,TE16,67
...,...,...,...,...,...,...,...
729305,2023-02,WEEKENDS/HOLIDAY,0,TRAIN,NE7/DT12,NE16/STC,6
729308,2023-02,WEEKDAY,10,TRAIN,NS21/DT11,NS20,2234
729309,2023-02,WEEKENDS/HOLIDAY,10,TRAIN,NS21/DT11,NS20,1101
729319,2023-02,WEEKENDS/HOLIDAY,13,TRAIN,NS4/BP1,NE8,28
729320,2023-02,WEEKDAY,13,TRAIN,NS4/BP1,NE8,21

In [8]:
import re

In [9]:
reg = r"(/B.*)|(^B.*/)|(/S.*)|(^S.*/)|(/P.*)|(^P.*/)|(/P.*)|(P.*/)"

In [10]:
reg = r"(/B.*|^B.*/|/S.*|^S.*/|/P.*|^P.*/)"

In [11]:
re.search(reg, "BP1/NS4")

In [12]:
df1['ORIGIN_PT_CODE'] = df1.ORIGIN_PT_CODE.str.replace(reg, "")
df3['ORIGIN_PT_CODE'] = df3.ORIGIN_PT_CODE.str.replace(reg, "")

df1['DESTINATION_PT_CODE'] = df1.DESTINATION_PT_CODE.str.replace(reg, "")

C:\Users\leish\AppData\Local\Temp/ipykernel_15864/3771115822.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['ORIGIN_PT_CODE'] = df1.ORIGIN_PT_CODE.str.replace(reg, "")
C:\Users\leish\AppData\Local\Temp/ipykernel_15864/3771115822.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df3['ORIGIN_PT_CODE'] = df3.ORIGIN_PT_CODE.str.replace(reg, "")
C:\Users\leish\AppData\Local\Temp/ipykernel_15864/3771115822.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['DESTINATION_PT_CODE'] = df1.DESTINATION_PT_CODE.str.replace(reg, "")

In [13]:
df1 = df1.drop(df1.loc[(df1.ORIGIN_PT_CODE.str.startswith("B")) | (df1.ORIGIN_PT_CODE.str.startswith("P"))| (df1.ORIGIN_PT_CODE.str.startswith("S")) |(df1.DESTINATION_PT_CODE.str.startswith("B")) | (df1.DESTINATION_PT_CODE.str.startswith("P"))| (df1.DESTINATION_PT_CODE.str.startswith("S"))].index)

In [14]:
df3 = df3.drop(df3.loc[(df3.ORIGIN_PT_CODE.str.startswith("B")) | (df3.ORIGIN_PT_CODE.str.startswith("P"))| (df3.ORIGIN_PT_CODE.str.startswith("S"))].index)

In [15]:
df3['TOTAL_TAP_IN_VOLUME'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0         34
1         20
2         31
3        375
4        280
        ...
3400     185
3406    1967
3408     202
3409     195
3410     110
Name: TOTAL_TAP_IN_VOLUME, Length: 4200, dtype: int64>

In [16]:
df3.to_csv("passenger_vol.csv")

In [17]:
df3

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,ORIGIN_PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2023-02,WEEKDAY,0,TRAIN,DT10/TE11,34,162
1,2023-02,WEEKDAY,0,TRAIN,NS27/CE2/TE20,20,85
2,2023-02,WEEKDAY,0,TRAIN,EW19,31,309
3,2023-02,WEEKDAY,0,TRAIN,NS8,375,1697
4,2023-02,WEEKDAY,0,TRAIN,NE16,280,2135
...,...,...,...,...,...,...,...
3400,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,NS27/CE2/TE20,185,115
3406,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,NE7/DT12,1967,1430
3408,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,DT29,202,1300
3409,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,TE4,195,287
3410,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,TE5,110,469

In [18]:
df1 = df1.sort_values(by=['TIME_PER_HOUR','DESTINATION_PT_CODE'])

In [19]:
total_trips = df1.groupby(["ORIGIN_PT_CODE", "TIME_PER_HOUR", "DAY_TYPE"]).sum().reset_index().rename({"TOTAL_TRIPS":"TOTAL_TRIPS_AGG"},axis=1)

In [20]:
df1 = pd.merge(df1, total_trips, on=["ORIGIN_PT_CODE","TIME_PER_HOUR", "DAY_TYPE"])

In [21]:
df1['PROB_TRIP'] = df1.apply(lambda x: round(x['TOTAL_TRIPS']/x['TOTAL_TRIPS_AGG'],3),axis=1)

In [22]:
df1['CUMSUM'] = df1.groupby(['ORIGIN_PT_CODE','TIME_PER_HOUR','DAY_TYPE'])['PROB_TRIP'].cumsum()

In [23]:
171 * 171

29241

In [24]:
df1.DESTINATION_PT_CODE.unique()

array(['CC10/DT26', 'CC17/TE9', 'CC7', 'CC8', 'DT28', 'EW1', 'EW5', 'EW6',
       'EW8/CC9', 'NE12/CC13', 'NS17/CC15', 'CC14', 'DT33', 'NE1/CC29',
       'NS10', 'NS11', 'NS8', 'CC11', 'DT29', 'EW2/DT32', 'NE13', 'NS13',
       'NS14', 'NS15', 'NS7', 'NS9/TE2', 'CC12', 'CC16', 'DT31', 'EW7',
       'DT34', 'DT1', 'NS18', 'DT3', 'DT5', 'EW21/CC22', 'NE14', 'NE15',
       'NE17', 'NS12', 'NS16', 'NS19', 'NS23', 'NS4', 'NS5', 'TE14/NS22',
       'EW10', 'EW3', 'EW4', 'EW9', 'DT30', 'NE16', 'CC27', 'DT27',
       'DT10/TE11', 'DT13', 'EW12/DT14', 'NE7/DT12', 'NS21/DT11',
       'CC19/DT9', 'CC5', 'DT6', 'DT8', 'CE1/DT16', 'DT24', 'DT25',
       'NE4/DT19', 'DT18', 'DT21', 'DT22', 'EW23', 'NE10', 'NE11', 'NE8',
       'NE9', 'NS20', 'DT2', 'DT7', 'EW11', 'CC2', 'EW17', 'EW26', 'NS2',
       'NS24/NE6/CC1', 'NS25/EW13', 'EW24/NS1', 'EW25', 'EW27', 'EW28',
       'NS3', 'CC3', 'CC4/DT15', 'DT17', 'DT20', 'CC23', 'EW32', 'CC20',
       'CG1/DT35', 'CC6', 'NS27/CE2/TE20', 'DT23', 'CC25', 'CC21', 'TE1',
       'CC26', 'CC28', 'EW29', 'EW22', 'TE6', 'TE3', 'TE13', 'TE7', 'TE4',
       'TE5', 'EW16/NE3/TE17', 'TE15', 'TE16', 'TE8', 'TE12', 'EW19',
       'EW33', 'TE18', 'EW20', 'CC24', 'EW14/NS26', 'EW15', 'EW18',
       'EW30', 'EW31', 'TE22', 'CG2', 'NE5', 'NS28', 'TE19'], dtype=object)

In [25]:
df1.to_csv("master_prob_trip.csv")

In [26]:
df1 = df1.drop(['YEAR_MONTH','PT_TYPE','PROB_TRIP','TOTAL_TRIPS_AGG','TOTAL_TRIPS'], axis=1)

In [27]:
df1.to_csv("prob_trip.csv")

In [28]:
df1['ORIGIN_PT_CODE'] = df1.ORIGIN_PT_CODE.str.replace(reg, "")
df1['DESTINATION_PT_CODE'] = df1.DESTINATION_PT_CODE.str.replace(reg, "")

C:\Users\leish\AppData\Local\Temp/ipykernel_15864/1506593578.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['ORIGIN_PT_CODE'] = df1.ORIGIN_PT_CODE.str.replace(reg, "")
C:\Users\leish\AppData\Local\Temp/ipykernel_15864/1506593578.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['DESTINATION_PT_CODE'] = df1.DESTINATION_PT_CODE.str.replace(reg, "")

In [29]:
df1 = df1.drop(df1.loc[(df1.ORIGIN_PT_CODE.str.startswith("B")) | (df1.ORIGIN_PT_CODE.str.startswith("P"))| (df1.ORIGIN_PT_CODE.str.startswith("S"))].index)
df1 = df1.drop(df1.loc[(df1.DESTINATION_PT_CODE.str.startswith("B")) | (df1.DESTINATION_PT_CODE.str.startswith("P"))| (df1.DESTINATION_PT_CODE.str.startswith("S"))].index)

In [30]:
cost_df = df1.groupby(['ORIGIN_PT_CODE','DESTINATION_PT_CODE']).mean().reset_index()
cost_df = cost_df.pivot(index="ORIGIN_PT_CODE", columns="DESTINATION_PT_CODE", values="CUMSUM")

In [31]:
cost_df.columns[cost_df.columns.str.contains("EW16")]

Index(['EW16/NE3/TE17'], dtype='object', name='DESTINATION_PT_CODE')

In [32]:
for x,y in zip(cost_df.columns, cost_df.index):
    if x != y:
        print(x,y)

In [33]:
cost_df.index

Index(['CC10/DT26', 'CC11', 'CC12', 'CC14', 'CC16', 'CC17/TE9', 'CC19/DT9',
       'CC2', 'CC20', 'CC21',
       ...
       'TE16', 'TE18', 'TE19', 'TE22', 'TE3', 'TE4', 'TE5', 'TE6', 'TE7',
       'TE8'],
      dtype='object', name='ORIGIN_PT_CODE', length=134)

In [34]:
length = len(df1['ORIGIN_PT_CODE'].unique())
stations = df1['ORIGIN_PT_CODE'].unique()

In [35]:
import math
cost = [[math.inf] * length for k in range(length)]

In [36]:
cost_df.index[0], cost_df.columns[1]

('CC10/DT26', 'CC11')

In [37]:
a = [1,2,3]
b = [4,5,6]

for x,y in zip(a,b):
    print(x,y)

1 4
2 5
3 6

In [38]:
def isNextId(row1, row2):
    row1s = row1.split("/")
    row2s = row2.split("/")
    for x in row1s:
        for y in row2s:
            if x[:2] == y[:2]:
                number = int(x[2:]) + 1
                steps = 1
                while steps < 3:
                    if int(y[2:]) == number:
                        return True 
                    
                    elif len(cost_df.columns[cost_df.columns.str.contains(x[:2] + f"{number:1}")]) >= 1:
                        return False
                    number += 1
                    steps += 1
        
    return False

In [39]:
def isPrevId(row1, row2):
    row1s = row1.split("/")
    row2s = row2.split("/")

    for x in row1s:
        for y in row2s:
            if x[:2] == y[:2]:
                number = int(x[2:]) - 1 
                steps = -1
                while number > 0 and steps < 3:
                    if int(y[2:]) == number:
                        return True 
                    elif len(cost_df.columns[cost_df.columns.str.contains(x[:2] + f"{number:1}")]) >= 1:
                        return False
                    number -= 1
                    steps -= 1
        
    return False

In [40]:
pi = [[0] * length for i in range(length)]

In [41]:
for i in range(length):
    for j in range(length):
        if i == j:
            cost[i][j] = 0
        elif isNextId(cost_df.index[i],cost_df.columns[j]):
            cost[i][j] = 1
            pi[i][j] = i
        elif isPrevId(cost_df.index[i], cost_df.columns[j]):
            cost[i][j] = 1
            pi[i][j] = i

In [42]:
df_cost = pd.DataFrame(cost, index=cost_df.index, columns=cost_df.columns)
df_cost

DESTINATION_PT_CODE,CC10/DT26,CC11,CC12,CC14,CC16,CC17/TE9,CC19/DT9,CC2,CC20,CC21,...,TE16,TE18,TE19,TE22,TE3,TE4,TE5,TE6,TE7,TE8
ORIGIN_PT_CODE,,,,,,,,,,,,,,,,,,,,,
CC10/DT26,0.0,1.0,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
CC11,1.0,0.0,1.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
CC12,inf,1.0,0.0,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
CC14,inf,inf,inf,0.0,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
CC16,inf,inf,inf,inf,0.0,1.0,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TE4,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,1.0,0.0,1.0,inf,inf,inf
TE5,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,1.0,0.0,1.0,inf,inf
TE6,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,1.0,0.0,1.0,inf
TE7,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,1.0,0.0,1.0
TE8,inf,inf,inf,inf,inf,1.0,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,1.0,0.0

In [43]:
pd.DataFrame(pi, index=cost_df.index, columns=cost_df.columns)

DESTINATION_PT_CODE,CC10/DT26,CC11,CC12,CC14,CC16,CC17/TE9,CC19/DT9,CC2,CC20,CC21,...,TE16,TE18,TE19,TE22,TE3,TE4,TE5,TE6,TE7,TE8
ORIGIN_PT_CODE,,,,,,,,,,,,,,,,,,,,,
CC10/DT26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CC11,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CC12,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CC14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CC16,0,0,0,0,0,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TE4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,129,0,129,0,0,0
TE5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,130,0,130,0,0
TE6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,131,0,131,0
TE7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,132,0,132
TE8,0,0,0,0,0,133,0,0,0,0,...,0,0,0,0,0,0,0,0,133,0

In [44]:
for k in range(length):
    for i in range(length):
        for j in range(length): 
            if cost[i][k] + cost[k][j] < cost[i][j]:
                cost[i][j] = cost[i][k] + cost[k][j]
                pi[i][j] = pi[k][j]

In [45]:
df_cost = pd.DataFrame(cost, index=cost_df.index, columns=cost_df.columns)
df_cost

DESTINATION_PT_CODE,CC10/DT26,CC11,CC12,CC14,CC16,CC17/TE9,CC19/DT9,CC2,CC20,CC21,...,TE16,TE18,TE19,TE22,TE3,TE4,TE5,TE6,TE7,TE8
ORIGIN_PT_CODE,,,,,,,,,,,,,,,,,,,,,
CC10/DT26,0,1,2,4,6,7,8,8,9,10,...,9,9,9,9,13,12,11,10,9,8
CC11,1,0,1,3,5,6,7,9,8,9,...,10,10,10,10,12,11,10,9,8,7
CC12,2,1,0,2,4,5,6,8,7,8,...,10,11,11,11,11,10,9,8,7,6
CC14,4,3,2,0,2,3,4,8,5,6,...,8,10,11,11,9,8,7,6,5,4
CC16,6,5,4,2,0,1,2,6,3,4,...,6,8,9,9,7,6,5,4,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TE4,12,11,10,8,6,5,6,10,7,8,...,10,12,13,13,1,0,1,2,3,4
TE5,11,10,9,7,5,4,5,9,6,7,...,9,11,12,12,2,1,0,1,2,3
TE6,10,9,8,6,4,3,4,8,5,6,...,8,10,11,11,3,2,1,0,1,2
TE7,9,8,7,5,3,2,3,7,4,5,...,7,9,10,10,4,3,2,1,0,1
TE8,8,7,6,4,2,1,2,6,3,4,...,6,8,9,9,5,4,3,2,1,0

In [46]:
pi_df = pd.DataFrame(pi, index=cost_df.index, columns=cost_df.columns)
pi_df.to_csv("journey_times.csv")

In [47]:
(pi_df.columns == "NS4/BP1").sum()

0

In [54]:
TE_CODES = ["TE10","TE21","TE23","TE24","TE25","TE26","TE27","TE28","TE29","TE30","TE31"]
ALL_CODES = df.ORIGIN_PT_CODE.unique()

In [79]:
ALL_CODES.shape, len(TE_CODES)

((171,), 11)

In [75]:
base = df.loc[(df.ORIGIN_PT_CODE == "NS27/CE2/TE20") | (df.DESTINATION_PT_CODE == "NS27/CE2/TE20")].sort_values(by=['DAY_TYPE','TIME_PER_HOUR'])
base

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,ORIGIN_PT_CODE,DESTINATION_PT_CODE,TOTAL_TRIPS
112888,2023-02,WEEKDAY,0,TRAIN,NS27/CE2/TE20,EW14/NS26,1
120872,2023-02,WEEKDAY,0,TRAIN,NS19,NS27/CE2/TE20,1
200067,2023-02,WEEKDAY,0,TRAIN,NS18,NS27/CE2/TE20,1
233609,2023-02,WEEKDAY,0,TRAIN,CC7,NS27/CE2/TE20,4
298540,2023-02,WEEKDAY,0,TRAIN,NS27/CE2/TE20,TE14/NS22,2
...,...,...,...,...,...,...,...
693025,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,NS27/CE2/TE20,EW1,4
696675,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,NS27/CE2/TE20,NS14,10
721540,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,CC14,NS27/CE2/TE20,3
722954,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,NS27/CE2/TE20,NS5,4
723624,2023-02,WEEKENDS/HOLIDAY,23,TRAIN,NS27/CE2/TE20,DT10/TE11,1

In [76]:
d = pd.DataFrame(columns=["DAY_TYPE","TIME_PER_HOUR","ORIGIN_PT_CODE","DESTINATION_PT_CODE", "TOTAL_TRIPS"])
for x in TE_CODES:
    for y in range(len(base)):
        row = base.iloc[y]
        if row.iloc[4] == "NS27/CE2/TE20":
            d = d.append(pd.DataFrame(np.array([row.iloc[1], row.iloc[2], x, row.iloc[5],row.iloc[6]]).reshape(1,-1), columns=d.columns), ignore_index=True)
        else:
            d = d.append(pd.DataFrame(np.array([row.iloc[1], row.iloc[2], row.iloc[4], x, row.iloc[6]]).reshape(1,-1), columns=d.columns), ignore_index=True)

In [ ]:
for x in TE_CODES:
    for y in ["WEEKDAY","WEEKENDS/HOLIDAY"]:
        for z in range(23):
            d = d.append(pd.DataFrame(np.array([y, z, x ,"NS27/CE2/TE20",5]).reshape(1,-1), columns=d.columns), ignore_index=True)
            d = d.append(pd.DataFrame(np.array([y, z,"NS27/CE2/TE20", x, 5]).reshape(1,-1), columns=d.columns), ignore_index=True)

In [78]:
d

,DAY_TYPE,TIME_PER_HOUR,ORIGIN_PT_CODE,DESTINATION_PT_CODE,TOTAL_TRIPS
0,WEEKDAY,0,TE10,EW14/NS26,1
1,WEEKDAY,0,NS19,TE10,1
2,WEEKDAY,0,NS18,TE10,1
3,WEEKDAY,0,CC7,TE10,4
4,WEEKDAY,0,TE10,TE14/NS22,2
...,...,...,...,...,...
73915,WEEKENDS/HOLIDAY,23,TE31,EW1,4
73916,WEEKENDS/HOLIDAY,23,TE31,NS14,10
73917,WEEKENDS/HOLIDAY,23,CC14,TE31,3
73918,WEEKENDS/HOLIDAY,23,TE31,NS5,4
73919,WEEKENDS/HOLIDAY,23,TE31,DT10/TE11,1

In [ ]:
pd.DataFrame(l, columns=["DAT_TYPE","TIME_PER_HOUR","ORIGIN_PT_CODE","DESTINATION_PT_CODE"])

                DAT_TYPE  TIME_PER_HOUR ORIGIN_PT_CODE DESTINATION_PT_CODE
0                WEEKDAY              0           TE10                EW32
1                WEEKDAY              0           EW32                TE10
2                WEEKDAY              0           TE10                 BP4
3                WEEKDAY              0            BP4                TE10
4                WEEKDAY              0           TE10                 SW5
...                  ...            ...            ...                 ...
180571  WEEKENDS/HOLIDAY             23            CC2                TE31
180572  WEEKENDS/HOLIDAY             23           TE31            CC4/DT15
180573  WEEKENDS/HOLIDAY             23       CC4/DT15                TE31
180574  WEEKENDS/HOLIDAY             23           TE31                 SE4
180575  WEEKENDS/HOLIDAY             23            SE4                TE31

[180576 rows x 4 columns]

In [ ]:
def get_shortest_path(one,two):
    if one != two:
        get_shortest_path(one, pi[one][two])
    print(cost_df.index[two])

In [ ]:
get_shortest_path(21, 100)

CC8
EW8/CC9
CC10/DT26
CC11
CC12
NE12/CC13
CC14
NS17/CC15
NS16

In [ ]:
cost_df.index[21], cost_df.index[100]

('CC8', 'NS16')

In [ ]:
pd.DataFrame(pi, index=cost_df.index, columns=cost_df.columns)

DESTINATION_PT_CODE,CC10/DT26,CC11,CC12,CC14,CC16,CC17/TE9,CC19/DT9,CC2,CC20,CC21,...,TE16,TE18,TE19,TE22,TE3,TE4,TE5,TE6,TE7,TE8
ORIGIN_PT_CODE,,,,,,,,,,,,,,,,,,,,,
CC10/DT26,0,0,1,83,101,4,5,16,6,8,...,54,54,110,110,128,129,130,131,132,5
CC11,1,0,1,83,101,4,5,16,6,8,...,54,54,110,110,128,129,130,131,132,5
CC12,1,2,0,83,101,4,5,108,6,8,...,122,54,110,110,128,129,130,131,132,5
CC14,1,2,83,0,101,4,5,108,6,8,...,122,54,110,110,128,129,130,131,132,5
CC16,1,2,83,101,0,4,5,108,6,8,...,122,54,110,110,128,129,130,131,132,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TE4,1,2,83,101,5,132,5,108,6,8,...,122,54,110,110,128,0,128,129,130,131
TE5,1,2,83,101,5,132,5,108,6,8,...,122,54,110,110,128,129,0,129,130,131
TE6,1,2,83,101,5,132,5,108,6,8,...,122,54,110,110,128,129,130,0,130,131
TE7,1,2,83,101,5,132,5,108,6,8,...,122,54,110,110,128,129,130,131,0,131
TE8,1,2,83,101,5,132,5,108,6,8,...,122,54,110,110,128,129,130,131,132,0

In [ ]:
pd.DataFrame(cost, index=cost_df.index, columns=cost_df.columns)

DESTINATION_PT_CODE,CC10/DT26,CC11,CC12,CC14,CC16,CC17/TE9,CC19/DT9,CC2,CC20,CC21,...,TE16,TE18,TE19,TE22,TE3,TE4,TE5,TE6,TE7,TE8
ORIGIN_PT_CODE,,,,,,,,,,,,,,,,,,,,,
CC10/DT26,0,1,2,4,6,7,8,8,9,10,...,9,9,9,9,13,12,11,10,9,8
CC11,1,0,1,3,5,6,7,9,8,9,...,10,10,10,10,12,11,10,9,8,7
CC12,2,1,0,2,4,5,6,8,7,8,...,10,11,11,11,11,10,9,8,7,6
CC14,4,3,2,0,2,3,4,8,5,6,...,8,10,11,11,9,8,7,6,5,4
CC16,6,5,4,2,0,1,2,6,3,4,...,6,8,9,9,7,6,5,4,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TE4,12,11,10,8,6,5,6,10,7,8,...,10,12,13,13,1,0,1,2,3,4
TE5,11,10,9,7,5,4,5,9,6,7,...,9,11,12,12,2,1,0,1,2,3
TE6,10,9,8,6,4,3,4,8,5,6,...,8,10,11,11,3,2,1,0,1,2
TE7,9,8,7,5,3,2,3,7,4,5,...,7,9,10,10,4,3,2,1,0,1
TE8,8,7,6,4,2,1,2,6,3,4,...,6,8,9,9,5,4,3,2,1,0

In [ ]:
df1.groupby(["ORIGIN_PT_CODE", "TIME_PER_HOUR", "DAY_TYPE"]).max().reset_index().sort_values(by="CUMSUM")

,ORIGIN_PT_CODE,TIME_PER_HOUR,DAY_TYPE,DESTINATION_PT_CODE,CUMSUM
3510,NE17/PTC,0,WEEKDAY,NE10,0.005
3470,NE16/STC,0,WEEKDAY,NE17/PTC,0.059
3471,NE16/STC,0,WEEKENDS/HOLIDAY,NE17/PTC,0.109
3431,NE15,0,WEEKENDS/HOLIDAY,NE17/PTC,0.352
3430,NE15,0,WEEKDAY,NE17/PTC,0.409
...,...,...,...,...,...
617,CC28,13,WEEKDAY,TE8,1.028
1763,DT5,7,WEEKENDS/HOLIDAY,TE8,1.029
3291,NE11,14,WEEKENDS/HOLIDAY,TE8,1.030
623,CC28,16,WEEKDAY,TE7,1.031
1536,DT29,13,WEEKENDS/HOLIDAY,TE8,1.032

In [ ]:
df1.groupby(["ORIGIN_PT_CODE", "TIME_PER_HOUR"]).sum().reset_index()['TOTAL_TRIPS']

KeyError: 'TOTAL_TRIPS'

In [319]:
7 * 120

840