In [104]:
import pandas as pd 
import numpy as np
import math
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [105]:
df = pd.read_csv("stations.csv")

In [106]:
def fix_string(line):
    if len(line) == 3:
        if line[2] == "C":
            return line[:2] + "00"
        return line[:2] + "0" + line[2:]
    else:
        return line

In [107]:
df['STN_NO'] = df['STN_NO'].apply(lambda x: fix_string(x))
df['LINE'] = df['STN_NO'].str[:2]
df['NUMBER'] = df['STN_NO'].str[2:]

In [108]:
ss = StandardScaler()
df['X'] = np.floor(ss.fit_transform(df[['X']]) * 20)
df['Y'] = np.floor(ss.transform(df[['Y']]) * 25) - 15

C:\Users\leish\anaconda3\envs\tf3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Y
Feature names seen at fit time, yet now missing:
- X

  warnings.warn(message, FutureWarning)

In [109]:
df.describe()

,OBJECTID,X,Y,Latitude,Longitude,SUN_INC_START_TIME,INC_END_TIME,WEEKDAY_SAT_DEC_START_TIME,SUN_DEC_START_TIME,DEC_END_TIME
count,195.000000,195.000000,195.000000,195.000000,195.000000,22.000000,22.000000,21.00000,21.000000,21.000000
mean,169.953846,-0.456410,9.646154,1.345430,103.842920,204.000000,846.090909,156.52381,166.761905,683.857143
std,511.195801,20.092105,17.506491,0.046157,0.065545,174.031196,721.053786,168.68895,179.741455,735.362923
min,1.000000,-64.000000,-21.000000,1.265473,103.636932,0.000000,0.000000,0.00000,0.000000,0.000000
25%,51.500000,-14.500000,-5.000000,1.306992,103.796729,0.000000,0.000000,0.00000,0.000000,0.000000
50%,106.000000,2.000000,7.000000,1.337587,103.851457,332.000000,1405.000000,0.00000,0.000000,0.000000
75%,153.500000,15.000000,25.000000,1.386032,103.893074,345.000000,1431.750000,325.00000,345.000000,1420.000000
max,5001.000000,44.000000,49.000000,1.449051,103.988321,370.000000,1478.000000,371.00000,398.000000,1478.000000

In [110]:
connections = df.groupby("STN_NAME").min()
df['CONNECTION_ID'] = df['STN_NAME'].apply(lambda x: connections.loc[x]["OBJECTID"])

C:\Users\leish\AppData\Local\Temp\ipykernel_2192\505108995.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  connections = df.groupby("STN_NAME").min()

In [111]:
df.loc[70, ["STN_NO", "NUMBER"]] = ["NE02", "02"]

In [112]:
df = df.astype({'X':int, 'Y': int})

In [113]:
def nextId(row):
    a = df.loc[(df.LINE == row.LINE) & (df.NUMBER > row.NUMBER)]['NUMBER'].min()
    if row.LINE == "BP":
        if row.NUMBER == "13":
            a = 6 
    if row.LINE == "PW" or row.LINE == "PE":
        if row.NUMBER == "07":
            a = 0
    if row.LINE == "SW":
        if row.NUMBER == "08":
            print("HERE")
            a = 0
    if row.LINE == "SE":
        if row.NUMBER == "05":
            a = 0
    if row.LINE == "PF":
        a = df.loc[(df.LINE == row.LINE) & (df.NUMBER < row.NUMBER)]['NUMBER'].max()
        if row.NUMBER == "00":
            a = 7
    if row.LINE == "PX":
        a = df.loc[(df.LINE == row.LINE) & (df.NUMBER < row.NUMBER)]['NUMBER'].max()
        if row.NUMBER == "00":
            a = 7
    if row.LINE == "SF":
        a = df.loc[(df.LINE == row.LINE) & (df.NUMBER < row.NUMBER)]['NUMBER'].max()
        if row.NUMBER == "00":
            a = 5
    if row.LINE == "SX":
        a = df.loc[(df.LINE == row.LINE) & (df.NUMBER < row.NUMBER)]['NUMBER'].max()
        if row.NUMBER == "00":
            a = 8
    return a

In [114]:
def prevId(row):
    a = df.loc[(df.LINE == row.LINE) & (df.NUMBER < row.NUMBER)]['NUMBER'].max()
    if row.LINE == "PF":
        a = df.loc[(df.LINE == row.LINE) & (df.NUMBER < row.NUMBER)]['NUMBER'].max()
        if row.NUMBER == "00":
            a = 7
    if row.LINE == "PX":
        a = df.loc[(df.LINE == row.LINE) & (df.NUMBER < row.NUMBER)]['NUMBER'].max()
        if row.NUMBER == "00":
            a = 7
    if row.LINE == "SF":
        a = df.loc[(df.LINE == row.LINE) & (df.NUMBER < row.NUMBER)]['NUMBER'].max()
        if row.NUMBER == "00":
            a = 5
    if row.LINE == "SX":
        a = df.loc[(df.LINE == row.LINE) & (df.NUMBER < row.NUMBER)]['NUMBER'].max()
        if row.NUMBER == "00":
            a = 8
    return a

In [115]:
df['NEXT_STATION_NUMBER'] = df.apply(lambda x: nextId(x) , axis=1)
df['PREV_STATION_NUMBER'] = df.apply(lambda x: prevId(x) , axis=1)

HERE

In [116]:
df.loc[df.PREV_STATION_NUMBER == "00"]

,OBJECTID,STN_NAME,STN_NO,X,Y,Latitude,Longitude,COLOR,IS_TERMINUS,WEEKDAY_SAT_INC_START_TIME,SUN_INC_START_TIME,INC_END_TIME,WEEKDAY_SAT_DEC_START_TIME,SUN_DEC_START_TIME,DEC_END_TIME,LINE,NUMBER,CONNECTION_ID,NEXT_STATION_NUMBER,PREV_STATION_NUMBER
36,70,CHENG LIM LRT STATION,SW01,15,29,1.396278,103.893779,OTHERS,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,SW,01,70,02,00
47,83,COMPASSVALE LRT STATION,SE01,17,28,1.394493,103.900473,OTHERS,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,SE,01,83,02,00
49,59,COVE LRT STATION,PE01,19,30,1.399282,103.905940,OTHERS,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,PE,01,59,02,00
145,43,SAM KEE LRT STATION,PW01,18,34,1.409613,103.904810,OTHERS,FALSE,NaN,NaN,NaN,NaN,NaN,NaN,PW,01,43,02,00

In [117]:
df = df.fillna(-1)

In [118]:
df.to_csv("formatted_stations.csv")

In [119]:
df.LINE.unique()

array(['NS', 'EW', 'SE', 'BP', 'CC', 'CE', 'DT', 'NE', 'CG', 'SW', 'PE',
       'PW', 'PF', 'PX', 'SX', 'SF', 'TE'], dtype=object)

In [120]:
df.loc[df.IS_TERMINUS == "TRUE"]['WEEKDAY_SAT_INC_START_TIME']

28     305
29     330
40     313
52     337
59     323
60       0
69       0
70     349
79     316
103      0
120    328
130    320
131      0
132    320
133      0
134      0
149    325
150      0
151      0
152    325
183      0
189    336
Name: WEEKDAY_SAT_INC_START_TIME, dtype: object

In [121]:
df[df['LINE'] == "ST"]

Empty DataFrame
Columns: [OBJECTID, STN_NAME, STN_NO, X, Y, Latitude, Longitude, COLOR, IS_TERMINUS, WEEKDAY_SAT_INC_START_TIME, SUN_INC_START_TIME, INC_END_TIME, WEEKDAY_SAT_DEC_START_TIME, SUN_DEC_START_TIME, DEC_END_TIME, LINE, NUMBER, CONNECTION_ID, NEXT_STATION_NUMBER, PREV_STATION_NUMBER]
Index: []

In [122]:
df.loc[(df.LINE == "PW") & ((df.NUMBER == "07") | (df.NUMBER == "09") | (df.NUMBER == "10"))]

,OBJECTID,STN_NAME,STN_NO,X,Y,Latitude,Longitude,COLOR,IS_TERMINUS,WEEKDAY_SAT_INC_START_TIME,SUN_INC_START_TIME,INC_END_TIME,WEEKDAY_SAT_DEC_START_TIME,SUN_DEC_START_TIME,DEC_END_TIME,LINE,NUMBER,CONNECTION_ID,NEXT_STATION_NUMBER,PREV_STATION_NUMBER
160,53,SOO TECK LRT STATION,PW07,16,32,1.405089,103.89719,OTHERS,FALSE,-1,-1.0,-1.0,-1.0,-1.0,-1.0,PW,07,53,0,06

In [123]:
df.columns, len(df.columns)

(Index(['OBJECTID', 'STN_NAME', 'STN_NO', 'X', 'Y', 'Latitude', 'Longitude',
        'COLOR', 'IS_TERMINUS', 'WEEKDAY_SAT_INC_START_TIME',
        'SUN_INC_START_TIME', 'INC_END_TIME', 'WEEKDAY_SAT_DEC_START_TIME',
        'SUN_DEC_START_TIME', 'DEC_END_TIME', 'LINE', 'NUMBER', 'CONNECTION_ID',
        'NEXT_STATION_NUMBER', 'PREV_STATION_NUMBER'],
       dtype='object'),
 20)

In [124]:
df['X'].max()

44